{% extends "base.html" %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-6">
    <br>
    <form>
      <div class="form-group">
        <label for="exampleInputPassword1">Nombre</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nombre del Snippet">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Descripción</label>
        <input type="" class="form-control" id="1" aria-describedby="emailHelp" placeholder="Descripcion">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Lenguaje</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Python</option>
          <option>PHP</option>
          <option>Java</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Tipo</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option selected="selected">Publico</option>
          <option>Privado</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1">Snippet</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Crear</button>
    </form>
  </div>
</div>
{% endblock %}